.post-link {
    text-decoration: none;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease-in-out;
  }

.post-link:hover {
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.6s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.post-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.post-link:hover .post-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 173, 225);
}

.post-link:hover .title-breast {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb( 158,209,160);
}

.post-link:hover .title-lung {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(140,185,209);
}

.post-link:hover .title-prostate {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(184,184,184);
}

.post-link:hover .title-rectal {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(243,222,169);
}

.post-link:hover .title-stomach {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(242,172,175);
}